/* Basics */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;

    img {
        max-width: 100%;
        border: none;
    }
}


/* Keeps footer at bottom of page */
#wrapper {
    position: relative;
	min-height: 100%;
}
main {
	padding-bottom: 100px;   /* Height of the footer element */
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 100px;
	width: 100%;
}




.container {
    max-width: 1280px;
    margin: 0 auto;
}
